.close {
    cursor: pointer;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.current-conditions {
    .current-conditions-location {
        width: 30%;
        display: flex;
        gap: 5rem;
    }
}
